name: CI/CD Pipeline Loan Prediction

on:
  push:
    branches: [ main ]

jobs:
  build-and-train:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Set up Python 3.10
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'

    - name: Install Dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -r MLProject/requirements.txt
        pip install mlflow dagshub setuptools wheel

    - name: Train Model
      env:
        MLFLOW_TRACKING_URI: ${{ secrets.MLFLOW_TRACKING_URI }}
        MLFLOW_TRACKING_USERNAME: ${{ secrets.MLFLOW_TRACKING_USERNAME }}
        MLFLOW_TRACKING_PASSWORD: ${{ secrets.MLFLOW_TRACKING_PASSWORD }}
      run: |
        cd MLProject
        # Ini perbaikannya: Pakai MLflow Run
        mlflow run . --no-conda

    - name: Login to Docker Hub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
    
    - name: Build and Push Docker Image
      run: |
        cd MLProject
        echo "FROM python:3.10-slim" > Dockerfile
        echo "WORKDIR /app" >> Dockerfile
        echo "COPY . /app" >> Dockerfile
        echo "RUN pip install -r requirements.txt" >> Dockerfile
        echo "CMD [\"python\", \"modelling.py\"]" >> Dockerfile
        
        docker build -t ${{ secrets.DOCKER_USERNAME }}/loan-prediction:latest .
        docker push ${{ secrets.DOCKER_USERNAME }}/loan-prediction:latest